<table class="blue-text text-darken-2">
  <thead>
  <tr>
    <th>Dash</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="dish in menu.menu">
    <td>{{dish.title}}</td>
    <td>{{dish.price}}</td>
    <td>
      <button class="btn" ng-click="menu.addOrderedDish(dish)" ng-if="menu.currentUser.credits >= dish.price">Add dish</button>
      <span class="red-text" ng-if="menu.currentUser.credits < dish.price">Пополните баланс на {{dish.price - menu.currentUser.credits}} credits</span>
    </td>
  </tr>
  </tbody>
</table>