<div class="">
  <div class="row">

    <div class="card blue-grey darken-1 col s6">
      <div class="card-content white-text">
        <span class="card-title">Ordered Dishes</span>

        <table>
          <thead>
          </thead>
          <tbody>
          <tr ng-repeat="oneUserDishes in vm.orderedDishes">

            <td>
              <table>
                <tr ng-repeat="dish in oneUserDishes.dishes | filter: {status: 'Заказано'}">
                  <td>{{dish.title}}</td>
                  <td class="card-action"><button class="btn" ng-click="vm.startToPrepare(oneUserDishes._id, dish.id)">Start to prepare</button></td>
                </tr>
              </table>
            </td>

          </tr>
          </tbody>
        </table>

      </div>
    </div>

    <div class=" col s6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Preparing Dishes</span>

          <table>
            <thead>
            </thead>
            <tbody>
            <tr ng-repeat="oneUserDishes in vm.orderedDishes">

              <td>
                <table>
                  <tr ng-repeat="dish in oneUserDishes.dishes | filter: {status: 'Готовится'}">
                    <td>{{dish.title}}</td>
                    <td class="card-action"><button class="btn" ng-click="vm.done(oneUserDishes._id, dish.id)">Done</button></td>
                  </tr>
                </table>
              </td>

            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>
</div>
