<form name="auth">  <!--If the name attribute is specified, the form controller is published onto the current scope under this name.https://docs.angularjs.org/api/ng/directive/form-->
  <label for="name">Name</label>    <!--novalidate - отменяет браузеоную валидацию-->
  <input id="name" type="text" ng-model="$ctrl.currentUser.name"><br><br>
  <label for="email">Email</label>
  <input id="email" name="email" type="email" ng-model="$ctrl.currentUser.email"><br><br> <!--the name attribute must be specified for auth.email.$pristine-->
  <button ng-disabled="auth.$invalid || auth.email.$pristine" ng-click="$ctrl.authorization($ctrl.currentUser)">Log in</button>
</form>