<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title">My account</span>
    <table>
      <thead>
      </thead>
      <tbody>
      <tr>
        <td>name</td>
        <td>{{account.currentUser.name}}</td>
      </tr>
      <tr>
        <td>balance</td>
        <td>{{account.currentUser.credits}}</td>
      </tr>
      </tbody>
    </table>

    <div class="card-action">
      <button class="btn" ng-click="account.chargeAccount(100)">Charge</button>
    </div>
  </div>
</div>