<div class="row">
  <div class="col s4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">My account</span>
        <table>
          <thead>
          </thead>
          <tbody>
          <tr>
            <td>name</td>
            <td>{{vm.currentUser.name}}</td>
          </tr>
          <tr>
            <td>balance</td>
            <td>{{vm.currentUser.credits}}</td>
          </tr>
          </tbody>
          </table>
        <div class="card-action">
          <button class="btn">Пополнить</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col s8">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Order status</span>
        <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        <div class="card-action">
          <a class="btn" href="#!/account/menu">Add dash</a>
        </div>
      </div>
    </div>
  </div>
</div>