<auth-component ng-if="!main.authorized"></auth-component>
<div class="row" ng-show="main.authorized">
  <div class="col s4">
    <account-component></account-component>
  </div>

  <div class="col s8">
    <order-component></order-component>
  </div>
</div>

<div ui-view></div>