<div class="card blue-grey darken-1">
  <div class="card-content white-text">
    <span class="card-title">Order status</span>
    <table>
      <thead>
      <tr>
        <th>Dish</th>
        <th>Status</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="dish in order.dishes">
        <td>{{dish.title}}</td>
        <td>{{dish.status}}</td>
      </tr>
      </tbody>
    </table>

    <div class="card-action">
      <!--<a class="btn" href="#!/menu">Add dish</a>-->
      <a class="btn" ui-sref="home.menu">Add dish</a>
    </div>
  </div>
</div>